        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader about-page-2">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="M" class="letters-loading">
                                M
                            </span>
                            <span data-text-preloader="e" class="letters-loading">
                                e
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="Y" class="letters-loading">
                                Y
                            </span>
                            <span data-text-preloader="W" class="letters-loading">
                                W
                            </span>
                            <span data-text-preloader="O" class="letters-loading">
                                O
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="D" class="letters-loading">
                                D
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- preloader end -->


        <!-- main header -->
        <header class="main-header header-style-one">
            <div class="header-top">
                <div class="top-inner">
                    <div class="top-left">
                        <ul class="info clearfix">
                            <li><i class="flaticon-pin"></i>Near Airport Garden Convention centre | Kumminipparamb | Karippur </li>
                            <li><i class="flaticon-email"></i><a href="mailto:needhelp@company.com">info@merryworldpark.com</a></li>
                            <li><i class="flaticon-clock"></i>Mon - Sun 9:00 am to 9:00 pm</li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <ul class="social-links clearfix">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            
                        </ul>
                       
                    </div>
                </div>
            </div>
            <div class="header-lower">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="/"><img src="/assets/images/logo.png" alt="" style="height: 7rem;"></a></figure>
                    </div>
                    <div class="menu-area">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="/">Home</a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="/about">About Us</a>
                                        
                                    </li>

                                    <li class="dropdown"><a href="/gallery">Our Gallery</a>
                                        
                                    </li>







                                    <li class="dropdown"><a href="/ride">Our Rides</a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="/features">Other features</a>
                                        
                                    </li>
                                                                  
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-right-content">
                        <div class="support-box">
                            <div class="icon"><i class="flaticon-phone-ringing"></i></div>
                            <span>Have Questions?</span>
                            <h6><a href="tel:+918714086367">+91 871 408 6367</a></h6>
                        </div>
                        
                        <div class="btn-box">
                            <a href="/contact">Contact for tickets </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="/"><img src="/assets/images/logo.png" alt="" style="height: 7rem;"></a></figure>
                    </div>
                    <div class="menu-area">
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                    </div>
                    <div class="menu-right-content">
                        <div class="support-box">
                            <div class="icon"><i class="flaticon-phone-ringing"></i></div>
                            <span>Have Questions?</span>
                            <h6><a href="tel:+918714086367">+91 871 408 6367</a></h6>
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img src="/assets/images/logo-2.png" alt="" title=""style="height: 8rem;"></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Near Airport Garden Convention centre | Kumminipparamb | Karippur</li>
                        <li><a href="tel:+91 8714086367">+91 871 408 6367</a></li>
                        <li><a href="mailto:info@merryworldpark.com">info@merryworldpark.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->
