<!-- <div class="page">
  
     <div class="page-content error-page error2" style="margin-top: 15em;">
         <div class="container text-center">
             <div class="error-template">
                 <h2 class="text-red mb-2">404<span class="fs-20">error</span></h2>
                 <h5 class="error-details text-red">
                     Oops! Some error has occured, Requested page not found!
                 </h5>
                 <div class="text-center">
                     <a class="btn btn-primary mt-5 mb-5" href="/"> <i class="fa fa-long-arrow-left"></i> Back to Home </a>
                 </div>
             </div>
         </div>
     </div>
   </div> -->


   <div class="errorSection" style="background-color: black;">
    <div>
        <h1 style="color: aliceblue;">Page Not Found <span style="color: red;">!</span></h1>
        <span class='error-num' style="color: red;">4</span>
        <div class="eye left-eye" style="background-color: aqua;"></div>
        <!-- <div class="eye right-eye" style="background-color: aqua;"></div> -->
        <span class='error-num' style="color: red;" >4</span>
       
      <p class='sub-text paragra'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
      <div class="text-center">
        <a class=" mt-5 mb-5" href="/"> <i class="fa fa-long-arrow-left"></i> Back to Home </a>
    </div>
    </div>
    </div>
    
    <script>
        var errorSection = document.querySelector('.errorSection');
        var leftEye = document.querySelector('.left-eye');
        var rightEye = document.querySelector('.right-eye');
        errorSection.addEventListener('mousemove', function(event) {
          var leftX = (leftEye.offsetLeft) + (leftEye.offsetWidth / 2);
          var leftY = (leftEye.offsetTop) + (leftEye.offsetHeight / 2);
          var leftRad = Math.atan2(event.pageX - leftX, event.pageY - leftY);
          var leftRot = (leftRad * (180 / Math.PI) * -1) + 180;
          leftEye.style.webkitTransform = 'rotate(' + leftRot + 'deg)';
          leftEye.style.transform = 'rotate(' + leftRot + 'deg)';
          
          var rightX = (rightEye.offsetLeft) + (rightEye.offsetWidth / 2);
          var rightY = (rightEye.offsetTop) + (rightEye.offsetHeight / 2);
          var rightRad = Math.atan2(event.pageX - rightX, event.pageY - rightY);
          var rightRot = (rightRad * (180 / Math.PI) * -1) + 180;
          rightEye.style.webkitTransform = 'rotate(' + rightRot + 'deg)';
          rightEye.style.transform = 'rotate(' + rightRot + 'deg)';
        });
      
    </script>