<div class="boxed_wrapper">
    <!-- Page Title -->
    <section class="page-title">
        <div class="img-wrap parallax-demo-1">
            <div class="parallax-inner back-img" style="background-image: url(assets/images/background/page-title.jpg);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box">
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>About Us</li>
                </ul>
                <div class="title">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->

    <% if (abouts) { %>
        <!-- about-style-three -->
        <section class="about-style-three sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <% if (abouts.length > 0 && abouts[0].aboutimage) { %>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <figure class="image-box"><img src="<%= abouts[0].aboutimage %>" alt=""></figure>
                    </div>
                    <% } else { %>
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <h1>hello world</h1>
                        </div>
                    <% } %>
                    
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_three">
                            <div class="content-box">
                                <!-- heading -->
                                <% if (abouts.length > 0 && abouts[0].abouthead) { %>
                                    <div class="sec-title">
                                        <h2><%= abouts[0].abouthead %></h2>
                                    </div>
                                <% } else { %>
                                    <div class="sec-title">
                                        <h2>GET TO KNOW ABOUT MERRY WORLD FAMILY PARK
                                            
                                        </h2>
                                    </div>
                                <% } %>
    
                                <!-- subhead -->
                                <% if (abouts.length > 0 && abouts[0].aboutsubhead) { %>
                                    <div class="inner">
                                        <h5><%= abouts[0].aboutsubhead %></h5>
                                    </div>
                                <% } else { %>
                                    <div class="inner">
                                        <h1>hekko experience</h1>
                                    </div>
                                <% } %>
    
                                <!-- description -->
                                <% if (abouts.length > 0 && abouts[0].aboutdescription) { %>
                                    <div class="text">
                                        <p><%= abouts[0].aboutdescription %></p>
                                    </div>
                                <% } else { %>
                                    <div class="text">
                                        <h1>hello recsa</h1>
                                    </div>
                                <% } %>
    
                                <div class="btn-box">
                                    <a href="/contact" class="theme-btn btn-one">Enquire now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-style-three end -->
    <% } %>
    
    

    <!-- video-section -->
    <section class="video-section centred">
        <div class="img-wrap parallax-demo-1">
            <div class="parallax-inner back-img" style="background-image: url(assets/images/background/video-bg.jpg);"></div>
        </div>
        <div class="auto-container">
            <div class="inner-box">
                <div class="video-btn">
                    <a href="#" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                </div>
                <h2>ready to enjoy <br />Merry world</h2>
            </div>
        </div>
    </section>
    <!-- video-section end -->

    <!-- scroll to top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fal fa-long-arrow-up"></i>
    </button>
</div>
