<div class="boxed_wrapper">



            <!-- Page Title -->
            <section class="page-title">
                <div class="img-wrap parallax-demo-1">
                    <div class="parallax-inner back-img" style="background-image: url(assets/images/background/page-title.jpg);"></div>
                </div>
                <div class="auto-container">
                    <div class="content-box">
                        <ul class="bread-crumb clearfix">
                            <li><a href="/">Home</a></li>
                            <li>About Us</li>
                        </ul>
                        <div class="title">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Page Title -->

        <!-- about-style-three -->
        <section class="about-style-three sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <figure class="image-box"><img src="assets/images/resource/about-3.jpg" alt=""></figure>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_three">
                            <div class="content-box">
                                <div class="sec-title">
                                    <h2>get to know about Merry world Family park</h2>
                                </div>
                                <div class="inner">
                                    <h5>The 40 feet glass
bridge at Merry
Word, is Kerala’s
longest skywalk.
Visitors can enjoy
panoramic views of
mountains and trees,
and promise to be a
one of a kind
experience!</h5>
                                </div>
                                <div class="text">
                                    <p>Merry World promises a journey full of enchanting rides
reminding you of your childhood. The collection of rides
are the latest and innovative! Fun times for the kids and
thrills for the grownups! </p>
                                </div>
                                <div class="btn-box">
                                    <a href="/contact" class="theme-btn btn-one">Enquire now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-style-three end -->


        


        <!-- video-section -->
        <section class="video-section centred">
            <div class="img-wrap parallax-demo-1">
                <div class="parallax-inner back-img" style="background-image: url(assets/images/background/video-bg.jpg);"></div>
            </div>
            <div class="auto-container">
                <div class="inner-box">
                    <div class="video-btn">
                        <a href="#" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                    </div>
                    <h2>ready to enjoy <br />Merry world</h2>
                </div>
            </div>
        </section>
        <!-- video-section end -->


        
        <!-- scroll to top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fal fa-long-arrow-up"></i>
        </button>
    </div>
