

<div class="boxed_wrapper">


        <!-- banner-section -->
        <section class="banner-section">
            <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-1.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h2>Longest Glass Bridge in Kerala</h2>
                           
                        </div>  
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-2.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h2>Merry world family park - Where fun begins</h2>
                            
                        </div>  
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-3.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h2>Everyone deserves a fun-filled life</h2>
                            
                        </div>  
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-4.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h2>Enter the magical world of thrills </h2>
                            
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->


        <!-- info-section -->
        <section class="info-section">
            <div class="bg-layer"></div>
            <span class="rotate-text">wild animal zoo</span>
            <div class="auto-container">
                <div class="inner-container">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                            <div class="single-item">
                                <div class="icon-box"><i class="flaticon-ticket"></i></div>
                                <h5><a>Standard Tickets</a></h5>
                                <p>Book early to guarantee the best price for your tickets.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                            <div class="single-item">
                                <div class="icon-box"><i class="flaticon-ticket"></i></div>
                                <h5><a>Group Tickets</a></h5>
                                <p>Special discounts are available for group tickets </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                            <div class="single-item">
                                <div class="icon-box"><i class="flaticon-ticket"></i></div>
                                <h5><a>Student Tickets</a></h5>
                                <p>Grab a fantastic deal with valid student ID</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- info-section end -->


        <!-- about-section -->
        <section class="about-section sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_one">
                            <div class="image-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-1.png);"></div>
                                <figure class="image"><img src="assets/images/resource/about-1.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_one">
                            <div class="content-box">
                                <div class="sec-title">
                                    <h2>Welcome to Merry world -Enjoy the Rides!</h2>
                                </div>
                                <div class="text">
                                    <p>Merry World promises a journey full of enchanting rides
                                        reminding you of your childhood. The collection of rides
are the latest and innovative! Fun times for the kids and
thrills for the grownups! </p>
                                    <ul class="list-style-one clearfix">
                                        <li>We’re more than an amusement park.</li>
                                        <li>Situated at the picturesque kumminiparmab,karripur</li>
                                        <li>Merry World transports you back to your childhood.</li>
                                    </ul>
                                </div>
                                <div class="btn-box">
                                    <a href="/about" class="theme-btn btn-one">discover more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->


        <!-- chooseus-section -->
        <section class="chooseus-section sec-pad">
            <div class="img-wrap parallax-demo-1">
                <div class="parallax-inner back-img" style="background-image: url(assets/images/background/chooseus-bg.jpg);"></div>
            </div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                        <div class="inner-box">
                            <div class="sec-title">
                                <h2>Why You should choose our Park visit?</h2>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                                    <div class="text">
                                        <p>Each section gives visitors an experience into the various themes that the park has to offer.
                                            Merry World journey is sure to amaze visitors of all age groups !</p>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                                    <ul class="list-style-one clearfix">
                                        <li>Mini tora</li>
                                        <li>Tower ride</li>
                                        <li>Rocket ride</li>
                                        <li>Balloons jumping </li>
                                        <li>And more </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <div class="content-inner">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-2.png);"></div>
                                <figure class="image-layer  wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="assets/images/resource/logo1.png" alt=""></figure>
                                <h3>Get your tickets</h3>
                                <h3>₹50.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- chooseus-section end -->


        <!-- gallery-section -->
        <section class="gallery-section">
            <div class="auto-container">
                <div class="sec-title centred">
                    <h2>amazing rides <br />in our park</h2>
                </div>
            </div>
            <div class="outer-container">
                <div class="gallery-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/images/gallery/gallery-1.jpg" alt=""></figure>
                            
                            <div class="overlay-content">
                                <h3><a>Towe ride</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/images/gallery/gallery-2.jpg" alt=""></figure>
                            
                            <div class="overlay-content">
                                <h3><a>-----</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/images/gallery/gallery-3.jpg" alt=""></figure>
                            
                            <div class="overlay-content">
                                <h3><a>-----</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/images/gallery/gallery-4.jpg" alt=""></figure>
                            
                            <div class="overlay-content">
                                <h3><a>------</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/images/gallery/gallery-5.jpg" alt=""></figure>
                            
                            <div class="overlay-content">
                                <h3><a>------</a></h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- gallery-section end -->


       <!-- scroll to top -->
       <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fal fa-long-arrow-up"></i>
    </button>
</div>


      
        